<main>
    <div class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-8 col-md-8 mx-auto">
                    <h1 class="display-4"></h1>

                    <h1 class="fw-light">Page d'accueil d'inscription MIAGE</h1>
                    <p class="lead text-muted">Ce site est dédié à la filière MIAGE en apprentissage  à l’université des Antilles ! </p>
                    <p>
                        <a href="#!" class="btn btn-primary my-2">Création de compte</a>
                        <a href="{{ path('app_login') }}" class="btn btn-secondary my-2">Connexion</a>
                    </p>
                </div>
            </div>
        </div>
    <div class="col-lg-6 col-md-8 mx-auto">
            <img src="{{ asset('img/logo.png') }}" alt="logo" class="img-fluid">
    </div>
</main>