{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Bienvenue sur votre Tableau de bord' %}

{% block main %}
<div class="content">

    <div class="container">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
        </ol>
        <!-- Icon Cards-->
    </div>

    <div class="container">
        <div class="row">
            <h1> Tableau de bord </h1>
        </div>

{% endblock %}
