
<footer class="bg-dark text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-4">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Localisation</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <i class="fas fa-book fa-fw fa-sm me-2"></i>Campus de Fouillole
                    </li>
                    <li>
                        <i class="fas fa-book fa-fw fa-sm me-2"></i>Pointe-à-Pitre 97110, Guadeloupe
                    </li>
                    <li>
                        <i class="fas fa-book fa-fw fa-sm me-2"></i>UFR Sciences Exactes et Naturelles (SEN)
                    </li>
                    <li>
                        <i class="fas fa-user-edit fa-fw fa-sm me-2"></i>Accueil UFR SEN: 8h-12h
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Université des Antilles</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://ecursus.univ-antilles.fr/" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>E-cursus</a>
                    </li>
                    <li>
                        <a href="http://www.univ-ag.fr/decouvrir-luniversite-des-antilles/presentation" class="text-white"><i class="fas fa-backspace fa-fw fa-sm me-2"></i>Découvrir l'université</a>
                    </li>
                    <li>
                        <a href="http://www.univ-ag.fr/sites/default/files/medias/plan_du_campus_de_fouillole.pdf" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Plan campus de Fouillole</a>
                    </li>
                    <li>
                        <a href="http://www.univ-ag.fr/inscription-2022-2023" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Inscription à l'université</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Filière MIAGE Référents</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="mailto:bureaut@miage-antilles.fr" class="text-white"><i class="fas fa-briefcase fa-fw fa-sm me-2"></i>Bureau Miage</a>
                    </li>
                    <li>
                        <a href="mailto:erick.stattner@univ-antilles.fr" class="text-white"><i class="fas fa-briefcase fa-fw fa-sm me-2"></i>Erick STATTNER (Master)</a>
                    </li>
                    <li>
                        <a href="mailto:wilfried.segretier@univ-antilles.fr" class="text-white"><i class="fas fa-briefcase fa-fw fa-sm me-2"></i>Wilfried SEGRETIER (L3)</a>
                    </li>
                    <li>
                        <a href="mailto:gilbert.rinaldo@univ-antilles.fr" class="text-white"><i class="fas fa-briefcase fa-fw fa-sm me-2"></i>Gilbert RINALDO (L3)</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">GRETA de la Guadeloupe</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="mailto:pole.in@gretaguadeloupe.fr" class="text-white"><i class="fas fa-at fa-fw fa-sm me-2"></i>Corinne FLAVIER-CHAUDRIN</a>
                    </li>
                    <li>
                        <a href="tel: +0590851627" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>0590 85 16 27</a>
                    </li>
                    <li>
                        <a href="tel: +0590 83 43 28" class="text-white"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>0590 83 43 28</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 Copyright:
        <a class="text-white" href="http://miage-antilles.fr/">miage-antilles.com</a>
    </div>
    <!-- Copyright -->
</footer>